@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --primary: hsl(14, 45%, 36%);
  --primary-dark: hsl(332, 51%, 32%);

  --white-100: hsl(0, 0%, 100%);
  --white-200: hsl(330, 100%, 98%);
  --white-300: hsl(30, 54%, 90%);
  --gray-100: hsl(30, 18%, 87%);
  --gray-200: hsl(30, 10%, 34%);
  --gray-300: hsl(24, 5%, 18%);

  --font-size: 16px;
  --title-font-size: 32px;

  --font-titles: "Young Serif", serif;
  --font-text: "Outfit", sans-serif;

  --mobile-media: 375px;
  --desktop-media: 1440px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  font-size: var(--font-size);
}

html {
  line-height: 1.5;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  background-color: var(--white-300);
}

.container {
  background-color: var(--white-100);
  margin: auto;
  max-width: 700px;
  padding: 30px;
  border-radius: 20px;
  margin-top: 100px;
}

section {
  width: 100%;
  padding: 20px;
}

.main-title {
  text-transform: capitalize;
  font-size: 36px;
  font-family: var(--font-titles);
  color: var(--gray-300);
  margin: 20px 0;
}

.main-text {
  color: var(--gray-200);
}

.preparation {
  background-color: var(--white-300);
  margin: 30px 0;
  border-radius: 10px;
}

.preparation-title {
  font-size: 20px;
  color: var(--primary-dark);
}

.preparation ul {
  list-style-position: inside;
  color: var(--gray-200);
}

.preparation ul span {
  font-weight: 600;
}

.ingredients-title {
  font-size: var(--title-font-size);
  font-family: var(--font-titles);
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 10px;
}

.ingredients ul {
  list-style-position: inside;
  color: var(--gray-200);
}

.ingredients ul li {
  margin-bottom: 5px;
}

hr {
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: var(--gray-100);
  opacity: 0.5;
}

.instructions-title {
  font-size: var(--title-font-size);
  font-family: var(--font-titles);
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 10px;
}

.instructions ol {
  list-style: none;
  counter-reset: li;
  color: var(--gray-200);
}

.instructions ol li {
  margin-left: 15px;
}

.instructions ol li::before {
  content: counter(li);
  color: var(--primary);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.instructions ol li {
  counter-increment: li;
}

.instructions ol li {
  margin-bottom: 5px;
}

.instructions ol span {
  font-weight: 600;
}

.nutrition-title {
  font-size: var(--title-font-size);
  font-family: var(--font-titles);
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 10px;
}

.nutrition p {
  color: var(--gray-200);
  margin-bottom: 10px;
}

.nutrition table {
  width: 100%;
}

.nutrition table tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-200);
  margin-bottom: 14px;
  position: relative;
}

.nutrition table tr:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 2px;
  opacity: 0.2;
  background: var(--gray-200);
  border-bottom: 1px solid var(--gray-100);
}

.nutrition table tr td {
  font-size: 20px;
  width: 50%;
  margin-left: 15px;
}

.nutrition table tr td:not(:first-child) {
  color: var(--primary);
  font-weight: 500;
}

@media (max-width: 375px) {
  :root {
    --font-size: 14px;
    --title-font-size: 24px;
  }

  .container{
    margin-top: 0;
  }

  section{
    padding: 0;
  }

  .main-title{
    font-size: 24px;
  }

  .nutrition table tr td{
    font-size: 16px;
  }
}
