@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --primary: hsl(14, 45%, 36%);
  --primary-dark: hsl(332, 51%, 32%);

  --white-100: hsl(0, 0%, 100%);
  --white-200: hsl(330, 100%, 98%);
  --white-300: hsl(30, 54%, 90%);
  --gray-100: hsl(30, 18%, 87%);
  --gray-200: hsl(30, 10%, 34%);
  --gray-300: hsl(24, 5%, 18%);

  --font-size: 16px;

  --font-titles: "Young Serif", serif;
  --font-text: "Outfit", sans-serif;

  --mobile-media: 375px;
  --desktop-media: 1440px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  font-size: var(--font-size);
  
}

html{
    line-height: 1.5;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  background-color: var(--white-300);
}

.container {
  background-color: var(--white-100);
  margin: auto;
  max-width: 700px;
  padding: 30px;
  border-radius: 20px;
  margin-top: 100px;
}

.main-title{
    text-transform: capitalize;
    font-size: 32px;
    font-family: var(--font-titles);
    color: var(--gray-300);
    margin: 20px 0;
}

.main-text{
    color: var(--gray-200);
}

.preparation{
    width: 100%;
    background-color: var(--white-300);
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
}

.preparation-title{
    font-size: 20px;
    color: var(--primary-dark);
}

.preparation ul {
    list-style-position: inside;
    color: var(--gray-200);
}

.preparation ul span{
    font-weight: 600;
}

.ingredients{
    width: 100%;
    padding: 20px;
}

.ingredients-title{
    font-size: 32px;
    font-family: var(--font-titles);
    color: var(--primary);
    font-weight: 400;
    margin-bottom: 10px;
}

.ingredients ul{
    list-style-position: inside;
    color: var(--gray-200);
}

.ingredients ul li{
    margin-bottom: 5px;
}